<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <h3>Mira a la cámara</h3>

  <div class="container">

    <div class="app">

      <a href="#" id="continue" class="visible">Iniciar Demo</a>
      <video id="camera-stream"></video>
      <img id="snap">

      <p id="error-message"></p>

      <div class="controls">
        <a href="#" id="delete-photo" title="Eliminar Foto" class="disabled"><i class="material-icons">delete</i></a>
        <a href="#" id="take-photo" title="Tomar Foto"><i class="material-icons">camera_alt</i></a>
        <a href="#" id="download-photo" download="foto.jpg" title="Descargar Foto" class="disabled"><i class="material-icons">file_download</i></a>
      </div>

      <canvas></canvas>

    </div>

  </div>
in
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script type="text/javascript" src="../js/camara.js"> </script>
  </body>
</html>
