<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/prueba.css">
    <title>Prueba Imagen</title>
</head>
<body>
    <progress value="0" max="100" id="uploader">0%</progress>
    <input type="file" value="upload" id="fileButton">

    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/pruebaImagen.js"></script>
</body>
</html>