<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>TERMINAL 1</title>
</head>
<body>
    <section class="container-fluid">
        <section class="row displayCenter">
                <h2>Hola, <span id="visitorName"></span></h2>
                <h5>Se le ha notificado a <span id="workerName"></span> de tu llegada</h5>
        </section>
    </section>
    
    <script src="../js/ultima.js"></script>
</body>
</html>