.displayCenter {
	display: flex;
	min-height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#login {
	display: block;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 170px;
	width: 370px;
	background-color: white;
}
.photos {
    width: 8rem;
    height: auto;
}

.block {
    display: block;
}
