body {
    background-color: #DFDCE3;
    width: 100%;
    height: 100vh;
}

.displayCenter {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.marginless {
    margin-top: -3.5rem;
}

.padd {
    padding-top: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: gold;
    padding: 1rem;
}

.booth {
    width: 40rem;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

.booth-capture-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.none {
    display: none;
}

.camaraSize {
    width: 35rem;
    height: 35rem;
}

.camaraBtn {
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
}

.iconStyle {
    font-size: 3rem;
}
